Bender Rodriguez
jide730
•
Besa mi brillante trasero metalico

lole555 — 29/04/2025 21:57
sirve?
o llevan ingredientes?
Bender Rodriguez[MDEV]
 — 29/04/2025 21:57
deja reviso
simon, ingredientes no tiene, solo falta sasbores y tamanos
lole555 — 29/04/2025 22:03
Estan en el notion?
O que sabor tiene cada uno y que tamaños
Bender Rodriguez[MDEV]
 — 29/04/2025 22:05
segun yo si
Imagen
lole555 — 29/04/2025 22:13
Va lo hago mañana tempra
Bender Rodriguez[MDEV]
 — 29/04/2025 22:14
sale
Bender Rodriguez[MDEV]
 — 05/05/2025 18:36
ya?
lole555 — 05/05/2025 18:38
en que server?
we?
Bender Rodriguez[MDEV]
 — 05/05/2025 18:46
el de nosotros nomas dame 5 min
lole555 — 05/05/2025 18:47
okok
Bender Rodriguez[MDEV]
 — 05/05/2025 18:55
listo
??
lole555 — 05/05/2025 19:02
voy
Bender Rodriguez[MDEV]
 — 05/05/2025 19:05
parece que si va a estar medio grande al cambio xd
jajaj
https://www.notion.so/Validaciones-1ebd1124dc85807a9399f6f72e61d1a2?pvs=4
Notion de Respaldo Bender on Notion
Validaciones | Notion
Limitaciones:
Validaciones | Notion
lole555 — 05/05/2025 19:12
https://react-pdf.org/
React-pdf
React renderer for creating PDF files on the browser and server
Imagen
Bender Rodriguez[MDEV]
 — 13/05/2025 21:23
holo
lole555
 ha iniciado una llamada que ha durado 23 minutos. — 13/05/2025 21:23
Bender Rodriguez
 ha iniciado una llamada que ha durado una hora. — 14/05/2025 19:43
Bender Rodriguez[MDEV]
 — 14/05/2025 20:58
{
    "userId": 1,
    "customerId": 2,
    "items": [
        {
            "type": "regular",
            "line": {
                "id": 1,
                "name": "DELUXE"
            },
            "flavor": {
                "id": 7,
                "name": "Pasion",
                "ingredients": [
                    {
                        "id": 1,
                        "name": "Fresa"
                    },
                    {
                        "id": 2,
                        "name": "Platano"
                    },
                    {
                        "id": 3,
                        "name": "Nutella"
                    },
                    {
                        "id": 4,
                        "name": "Nuez"
                    }
                ]
            },
            "size": {
                "id": 6,
                "name": "12"
            }
        }
    ],
    "writing": "tsthbsrhb",
    "notes": "sthefhds",
    "status": "completed",
    "pickupDateTime": "2025-05-14T21:00:00.000Z"
}
lole555 — 16/05/2025 15:08
https://discord.gg/programacion
lole555 — 16/05/2025 22:20
ewe
estoy con el wey que sabe
me esta explicando que sabe caele al server si puedes
Bender Rodriguez[MDEV]
 — 16/05/2025 22:20
a ver
lole555 — 16/05/2025 22:20
solo entre en silencio y escucha xd
Bender Rodriguez[MDEV]
 — 16/05/2025 22:21
We ya le medio entendí
lole555 — 16/05/2025 22:22
x2 este wey sabe por eso ando aqui xd
la capa de presentacion literal valida los "typos"
Bender Rodriguez[MDEV]
 — 16/05/2025 22:22
Me sirvo
lole555 — 16/05/2025 22:22
osea string, int, etc
Bender Rodriguez[MDEV]
 — 16/05/2025 22:22
En efecto
Es el type
lole555 — 16/05/2025 22:22
yes
Bender Rodriguez[MDEV]
 — 16/05/2025 22:22
Script
Jajaaj
lole555 — 16/05/2025 22:23
potente
Bender Rodriguez[MDEV]
 — 16/05/2025 22:23
Typescript virtualizado en c#
“ No sabe como llego”
Bender Rodriguez[MDEV]
 — 19:02
en cual de todos los chats?
lole555
 ha iniciado una llamada. — 19:02
lole555 — 19:08
https://github.com/Eduardo-Arroyo-B/CRUD-N-Layers
lole555 — 19:39
https://www.youtube.com/watch?v=Yd7vDterctQ
YouTube
Cosmic Hippo
3 A.M Coding Session - Chillstep Beats to Keep You Going
Imagen
public bool CreateUser(users user)
    {
        using (SqlConnection cn = new SqlConnection(_connectionString))
        {
            string query = "INSERT INTO users (Name, Age, Address) VALUES (@Name, @Age, @Address)";

            SqlCommand cmd = new SqlCommand(query, cn);

            cmd.Parameters.Add("@Name", SqlDbType.NVarChar, 100).Value = user.Name;
            cmd.Parameters.Add("@Age", SqlDbType.Int).Value = user.Age;
            cmd.Parameters.Add("@Address", SqlDbType.NVarChar, 200).Value = user.Address;

            cn.Open();
            int rows = cmd.ExecuteNonQuery();
            return rows > 0;
        }
    }
Bender Rodriguez[MDEV]
 — 19:41
Imagen
lole555 — 19:59
{
    "message": "Usuario creado exitosamente",
    "user": {
        "id": 0,
        "name": "Eduardo",
        "age": 23,
        "address": "ejemplo@ejemplo.com"
    }
}
lole555 — 20:27
Build Folders,
bin/
obj/

Rider specific files,
.idea/
*.sln.iml

User-specific files,
*.user
*.suo

VS Code folders,
.vscode/

Logs,
*.log

Packages,
*.nupkg
*.snupkg
*.nuspec
*.psmdcp

DLLs and executables,
*.dll
*.exe
*.pdb

Publish output,
publish/

Rider caches,
.idea/

Other,
*.vs/

NuGet package folders,
*.nuget/
/obj/
/bin/
project.assets.json
lole555 — 21:05
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.idea
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.azurePubxml

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
packages/
## TODO: If the tool you use requires repositories.config, also uncomment the next line
!packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
![Ss]tyle[Cc]op.targets
~$*
*~
*.dbmdl
*.[Pp]ublish.xml

*.publishsettings

... (57 líneas restantes)
Contraer
message.txt
3 KB
﻿
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.idea
# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.azurePubxml

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
packages/
## TODO: If the tool you use requires repositories.config, also uncomment the next line
!packages/repositories.config

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
![Ss]tyle[Cc]op.targets
~$*
*~
*.dbmdl
*.[Pp]ublish.xml

*.publishsettings

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

_NCrunch*

# NuGet autogenerated
project.assets.json
project.nuget.cache
*.nuget.props
*.nuget.targets

# Global packages
*.nupkg
*.snupkg
.nuget/

# VS Code settings
.vscode/

# .NET build cache
*.tlog

# User config
*.userosscache
*.sln.ide

# Build folders (en minúscula también por si acaso)
bin/
obj/
